# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
# Hacking already pins down pep8, pyflakes and flake8

hacking>=3.1.0,<3.2.0 # Apache-2.0
docutils>=0.15.2
coverage>=5.2.1 # Apache-2.0
ddt>=1.4.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
reno>=3.2.0 # Apache-2.0
requests-mock>=1.2.0 # Apache-2.0
tempest>=26.0.0 # Apache-2.0
testtools>=2.4.0 # MIT
stestr>=3.0.1 # Apache-2.0
oslo.serialization>=4.0.1 # Apache-2.0
doc8>=0.8.1 # Apache-2.0
#
# These are here to enable the resolver to work faster.
# They are not directly used by python-cinderclient.
debtcollector>=2.2.0
dulwich>=0.20.6
mccabe>=0.6.0
